#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 2rem;
}

h2 {
  margin-top: 0; 
}

p {
  margin: 2px;
}

.logged-user {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#profilepic {
  width: 50px;
}

.search {
  display: flex;
  justify-content: center;
}

.article-display {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  margin: 30px;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
}

.article-image {
  padding-top: 20px;
  width: 500px;
}

#comment-link {
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  width: 100px;
  font-weight: bold;
}

#comment-link:hover {
  cursor: pointer;
}

.single-article {
  width: 50%;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  border-radius: 20px;
  padding: 100px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.single-article-image {
  width: 400px;
  margin: 1rem;
}

.comments-display {
  display: flex;
  flex-direction: column;
  width: auto;

  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}

#comment-box {
  
  border-radius: 50px;
  height: 75px;
  
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#post-comment-button {
width: 75px;
border-radius: 20%;
font-size: 20px;
border: none;
box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
cursor: pointer;
}

#comment-input {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  width: 75%;
  margin-right: 30px;
  margin-left: 10px;
  padding: 4%;
}

.comment-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  border-radius: 20px;
  margin: 5%;
  padding: 1rem;
}

#delete-button {
  width: 5rem;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  border-radius: 20px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

#comment-text {
  margin: 1%;
}

#vote-count {
  margin-top: 2rem;
  font-weight: bold;
}

#downvote {
  margin-right: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  font-weight: bold;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#upvote {
  margin-left: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  font-weight: bold;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.topic-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.topic {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  margin: 30px;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
}

.filter-display {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  width: 75%;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#topic-choice {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
}

#sortby {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
}

#order {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
}

#topic-title {
  color: rgb(31, 115, 143);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgb(31, 115, 143);
  padding: 1rem;
}