#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged-user {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#profilepic {
  width: 50px;
}

.search {
  display: flex;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 2px 1px 2px 1px black;
  margin: 50px;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
}

.articles {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 2rem;
}

.article-display {
  display: flex;
  flex-wrap: wrap;
}

.article-image {
  padding-top: 20px;
  width: 500px;
}

p {
  margin: 2px;
}

#comment-link {
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px black;
  width: 100px;
  font-weight: bold;
}

#comment-link:hover {
  cursor: pointer;
}

.single-article {
  width: 50%;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 20px;
  padding: 100px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.single-article-image {
  width: 400px;
  margin: 1rem;
}

.comments-display {
  display: flex;
  flex-direction: column;
  width: auto;

  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 20px;
  margin: 5%;
  padding: 1rem;
}

#comment-text {
  margin: 1%;
}

#vote-count {
  margin-top: 2rem;
  font-weight: bold;
}

#downvote {
  margin-right: 20px;
  box-shadow: 1px 1px 5px 1px black;
  font-weight: bold;
  height: 25px;
  width: 25px;
}

#upvote {
  margin-left: 20px;
  box-shadow: 1px 1px 5px 1px black;
  font-weight: bold;
  height: 25px;
  width: 25px;
}
