#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Open Sans", cursive;
}

main {
  display: flex;
  justify-content: center;
}

.logged-user {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#profilepic {
  width: 50px;
}

.search {
  display: flex;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 2px 1px 2px 1px black;
  margin: 50px;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
}

.articles {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 2rem;
}

.article-display {
  display: flex;
  flex-wrap: wrap;
}

.article-image {
  padding-top: 20px;
  width: 500px;
}

p {
  margin: 2px;
}

.single-article {
  width: 500px;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 20px;
  padding: 75px;
  margin-top: 50px;
}

.single-article-image {
  width: 400px;
  margin: 1rem;
}
